{% macro partido(
hora,
equipo_local,
equipo_visitante,
goles_local = none,
goles_visitante = none,
deporte = none,
genero = none,
categoria = none,
estado = "prox",
minuto = none

) %}

<div class="partido-card">

    <!-- TOP -->
    <div class="partido-top">

        <span class="partido-hora">
            {{ hora }}
        </span>

        {% if estado == "terminado" %}
            <span class="estado estado-fin">
                FINALIZADO
            </span>

        {% elif estado == "live" %}
            <span class="estado estado-live">
                EN VIVO
            </span>

        {% else %}
            <span class="estado estado-prox">
                PRÓXIMO
            </span>
        {% endif %}

    </div>

    <!-- TAGS -->
    <div class="partido-tags">

        <span class="tag">
            {{ deporte }}
        </span>

        <span class="tag">
            {{ genero }}
        </span>

        <span class="tag">
            {{ categoria }}
        </span>

    </div>

    <!-- EQUIPOS -->
    <div class="partido-equipos">

        <div class="equipos">

            <div class="equipo">
                {{ equipo_local }}
            </div>

            <div class="equipo">
                {{ equipo_visitante }}
            </div>

        </div>

        <!-- RESULTADO -->
        <div class="resultado">

            {% if goles_local is not none %}
                <span>{{ goles_local }}</span>
                <span>-</span>
                <span>{{ goles_visitante }}</span>

            {% else %}
                <span>-</span>
                <span>-</span>
            {% endif %}

        </div>

    </div>

</div>

{% endmacro %}