{% extends "navbar.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="page-title">
        Copa Renault
    </h1>

    <div class="card">

        <h2>Bienvenido</h2>

        <p class="muted">
            Seguí todos los partidos, resultados y noticias del torneo.
        </p>

        <br>

        <a href="/partidos">
            <button class="btn">
                Ver Partidos
            </button>
        </a>

    </div>

</div>

{% endblock %}