{% extends "navbar.html" %}

{% block title %}Mapa{% endblock %}

{% block content %}

<div class="container">

    <h1 class="page-title">
        Mapa
    </h1>

    <div class="card">

        <h2>Predio Deportivo</h2>

        <p class="muted">
            Complejo principal donde se disputan los partidos.
        </p>

        <br>

        <img src="static/img/croquis.png" alt="Mapa del predio"
            style="width: 75%; height: 75%; object-fit: cover; border-radius: 12px;">

    </div>

</div>

{% endblock %}