{% extends "navbar.html" %}
{% from "_partido_macro.html" import partido %}

{% block title %}Partidos – Fixture{% endblock %}

{% block content %}

<div style="padding: 24px 16px 8px;">
    <h1 style="font-size: 22px; font-weight: 800;">PARTIDOS</h1>

    <div class="filtros">
        {% for cat in ["Todas", "Mayor", "Intermedia", "Menor"] %}
        <a href="/partidos/{{ cat }}/{{ deporte_activo }}/{{ genero_activo }}">
            <button>
                {{ cat }}
            </button>
        </a>
        {% endfor %}
    </div>

    <div class="filtros" style="margin-top: 8px;">
        {% for dep in ["Todos", "Fútbol", "Básquet", "Vóley"] %}
        <a href="/partidos/{{ categoria_activa }}/{{ dep }}/{{ genero_activo }}">
            <button>
                {{ dep }}
            </button>
        </a>
        {% endfor %}
    </div>

    <div class="filtros" style="margin-top: 8px;">
        {% for gen in ["Todos", "Mixto", "Masculino", "Femenino"] %}
            <a href="/partidos/{{ categoria_activa }}/{{ deporte_activo }}/{{ gen }}">
                <button>
                    {{ gen }}
                </button>
            </a>
        {% endfor %}
    </div>

</div>

{% for p in partidos %}
    {{ partido(
        hora = p.hora,
        equipo_local = p.equipo_local,
        equipo_visitante = p.equipo_visitante,
        deporte = p.deporte,
        genero = p.genero,
        categoria = p.categoria,
        estado = p.estado
    )}}
{% endfor %}

{% endblock %}